<div class="ui inverted five stackable cards">

    <div class="black card">
        <div class="content">
        <a class="header">{{name}}</a>
        <div class="description"></div>
        </div>
    </div>

    <div class="black card">
        <div class="content">
        <a class="header">Weather</a>
        <div class="description">
            <p> {{latestWeatherCode}}   </p>
        </div>
        </div>
    </div>

    <div class="black card">
        <div class="content">
        <a class="header">Temperature</a>
        <div class="description">
            <p>{{latestTemp}}  C</p>
            <p>{{latestTempF}}  F</p>
        </div>
        </div>
    </div>

    <div class="black card">
        <div class="content">
        <a class="header">Wind Speed</a>
        <div class="description">
            <p> {{latestWindReading}} </p>
        </div>
        </div>
    </div>


    <div class="black card">
        <div class="content">
        <a class="header">Pressure</a>
        <div class="description">
            <p>{{latestPressure}} hpa</p>
        </div>
        </div>
    </div>
</div>
