<div class="ui inverted five stackable cards">

    <div class="black card">
        <div class="content">
            <a class="header">{{station.name}}</a>
            <div class="description"></div>
        </div>
    </div>

    <div class="black card">
        <div class="content">
            <a class="header">Weather</a>
            <div class="description">
                <p> {{station.latestWeatherCode}}   </p>
            </div>
        </div>
    </div>

    <div class="black card">
        <div class="content">
            <a class="header">Temperature</a>
            <div class="description">
                <p>{{station.latestTemp}}  C</p>
                <p>{{station.latestTempF}}  F</p>
            </div>
        </div>
    </div>

    <div class="black card">
        <div class="content">
            <a class="header">Wind</a>
            <div class="description">
                <p> {{station.latestWindReading}} </p>
                <p> Direction: {{station.latestWindDirection}} </p>
                <p> Feels Like: {{station.latestWindChill}} </p>
            </div>
        </div>
    </div>


    <div class="black card">
        <div class="content">
            <a class="header">Pressure</a>
            <div class="description">
                <p>{{station.latestPressure}} hpa</p>
            </div>
        </div>
    </div>

</div>

